<!DOCTYPE html>
<html>
  <head>
    <title>Sys4</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render partial: "shared/window_script" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "react", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "react", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="bg-gradient-to-br from-black to-cyan-950 text-white">
    <%= yield %>
  </body>
</html>
